<body class="units">
<%if flash[:success] %>
    <div class="alert alert-success text-center" role="alert">
      <%=flash[:success] %>
    </div>
<%end%>
<%if flash[:danger] %>
    <div class="alert alert-danger text-center" role="alert">
      <%=flash[:danger] %>
    </div>
<%end%>


<div class="container">
  <div class="card border-0 shadow my-5" id="unit-contain">
    <div class="card-body p-5">
      <h1 class="font-weight-light">Toute les unités: 🌾</h1>
      <hr>

<div class="container">
	<table id="cart" class="table table-hover table-condensed"  style="background-color:#F4F2F2; border-radiux:9px;">
    				<thead>
						<tr>
							
							
						</tr>
					</thead>
					<tbody>
            <tr>            
              <% @units.each do |unit| %>
              <td data-th="unit">
              <p><%=link_to unit.name, admin_unit_path(unit.id) %></p>
								
									<div class="col-sm-10">
										
								</div>
              </div>
           </div>
    </div>
  </div>

							</td>
													
						</tr>
					</tbody>
					<%end%>
					
        </table>
<div class="col-md-4 products-aside">
  <div class="card my-4">       
    <div class="card-header"><%= link_to 'Ajouter une unité', new_admin_unit_path, class: 'btn btn-md btn-outline-secondary ml-1 btn-block' %>
    </div>    
  </div>
</div>  
</div>
</body>
        
        




            
       
