<br>
<h1>Bienvenue chez Citoyens Producteurs <%=@user.first_name%> <%=@user.last_name%>.</h1>
<h2></h2>
<p>Tu t'es inscrit sur <%=@url%> avec l'email suivant : <%=@user.email%>.</p>

<p><b>A très bientôt chez Citoyens Producteurs ! </b></p>


