<center>
<h4>Ajouter un type d évenement: </h4>

<%= form_for @newtype, url: admin_event_types_path, method: 'post' do |f| %> 
  
  
  <%if flash[:danger] %>
    <div class="alert alert-danger text-center" role="alert">
      <%=flash[:danger] %>
    </div>
  <% end %>
  <div class= 'form-group'>
    <label> Type d évenement : </label>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class='actions'>
    <%= f.submit %>
  </div>
  </center>
 

  <% end %>