<div class="hero">
  <div class="container call-to-action">
    <div class="col-6">
      <%= image_tag(("logo.png"), class:"hero-logo")%>
      <p class="lead"><br>La première coopérative agricole urbaine ! Pour reprendre le pouvoir sur notre alimentation en la produisant nous-mêmes ! </p>
      <a class="btn btn-secondary btn-rounded m-2" href="#" role="button">En savoir plus</a>
      </p>
      </div>
  </div>
</div>


<section id="about">
  <div class="container about">
    <div class="row">

      <div class="col-lg-6 content ">
        <h1 class="section-title">Qui sommes-nous?</h1>
        <hr>
        <p class="section-description">
        Notre mission est d’aller chercher les surplus de production chez les particuliers afin de créer une activité économique 100 % locale. En écoulant des produits sains, qui ont poussé sans produits chimiques, et qui n’ont pas voyagé.
        Un des enjeux est de lutter contre le gaspillage alimentaire.
        Un autre est de profiter d’une ressource alimentaire, déjà disponible en récupérant les fruits (ou les légumes) qui auraient poussé de toute façon.</p>

        <div class="wow fadeInUp">
          <div class="icon"><i class="fas fa-seedling"></i></div>
          <h4 class="title"><a href="">Producteurs</a></h4>
          <p class="description">Tu possèdes un petit potager ? Ta production est surabondante ? Tu en as marre de gaspiller ? Rejoint le mouvement pour qu’une équipe de cueilleur vienne récupérer tes surplus pour participer à un projet de forte valeur environnementale ! </p>
        </div>

        <div class="wow fadeInUp" data-wow-delay="0.2s">
          <div class="icon"><i class="fas fa-hand-holding-heart"></i></div>
          <h4 class="title"><a href="">Bénévoles</a></h4>
          <p class="description">Tu as la main verte (ou pas) et tu souhaites consacrer ton temps libre à participer à la lutte contre le gaspillage alimentaire et rencontrer des personnes ? Rejoint le mouvement !</p>
        </div>

        <div class="wow fadeInUp" data-wow-delay="0.4s">
          <div class="icon"><i class="fas fa-utensils"></i></div>
          <h4 class="title"><a href="">Produits transformés</a></h4>
          <p class="description">Tu aimes cuisiner et tu te sens capable de transformer les produits récoltés en produits consommables et conservables (confitures, soupes, tisanes) ? Participe au projet !</p>
        </div>
        <hr>
        <a class="btn btn-secondary btn-rounded m-2" <%= link_to "S'inscrire", new_user_registration_path %></a><br>
        </div>

      <div class="col-lg-6 wow fadeInRight">
        <%= image_tag(("about-img.jpg"), class:"about-img")%>
      </div>
      
    </div>

  </div>
</section>


<section class="counter p-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6 col-12 my-3">
        <div class="font-title p-2">
          <div class="row text-center">
            <div class="col-5 justify-center align-center flex-column py-3">
              <h2><i class="fas fa-seedling"></i></h2>
              <small class="uppercase">Producteurs engagés</small>
            </div>
            <div class="col-7 justify-center align-center "><span class="display-4">30</span></div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-12 my-3">
        <div class="font-title p-2">
          <div class="row text-center">
            <div class="col-5 justify-center align-center flex-column py-3">
              <h2><i class="fas fa-hand-holding-heart"></i></h2>
              <small class="uppercase">Bénévoles engagés</small>
            </div>
            <div class="col-7 justify-center align-center "><span class="display-4">121</span></div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-12 my-3">
        <div class="font-title p-2">
          <div class="row text-center">
            <div class="col-5 justify-center align-center flex-column py-3">
              <h2><i class="far fa-lemon"></i></h2>
              <small class="uppercase">Produits récoltés</small>
            </div>
            <div class="col-7 justify-center align-center "><span class="display-4">99 kg</span></div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-12 my-3">
        <div class="font-title p-2">
          <div class="row text-center">
            <div class="col-5 justify-center align-center flex-column py-3">
              <h2><i class="fas fa-carrot"></i></h2>
              <small class="uppercase">Produits vendus</small>
            </div>
            <div class="col-7 justify-center align-center "><span class="display-4">210</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="services">
  <div class="container wow fadeIn">
    <div class="section-header">
      <h3 class="section-title">Autres engagements possibles</h3>
    </div>
    <br><br><br>
    <div class="row">
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
        <div class="box">
          <div class="icon"><a href=""><i class="fas fa-bullhorn"></i></a></div>
          <h4 class="title"><a href="">Communication</a></h4>
          <p class="description">Animer la communauté et faire connaitre Citoyens Producteurs, animer des événements, mettre en place une image et du contenu, fédérer autour du projet de nouvelles personnes</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
        <div class="box">
          <div class="icon"><a href=""><i class="fas fa-shopping-basket"></i></a></div>
          <h4 class="title"><a href="">Vente</a></h4>
          <p class="description">Tenir des stands sur des salons, être capable de négocier avec des distributeurs locaux.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
        <div class="box">
          <div class="icon"><a href=""><i class="far fa-thumbs-up"></i></a></div>
          <h4 class="title"><a href="">Gestion</a></h4>
          <p class="description">Gérer l’activité d’un point de vue comptable </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
        <div class="box">
          <div class="icon"><a href=""><i class="far fa-calendar-check"></i></a></div>
          <h4 class="title"><a href="">Planifier</a></h4>
          <p class="description">Tenir à jour un état des lieux des différentes parties prenantes (terrains, périodes de récolte, cueilleurs, lieux de stockage, transformation)</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
        <div class="box">
          <div class="icon"><a href=""><i class="fa fa-road"></i></a></div>
          <h4 class="title"><a href="">Déployer</a></h4>
          <p class="description">Aider à déployer l’activité dans d’autres zones géographiques tout en préservant le concept d’origine</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
        <div class="box">
          <div class="icon"><a href=""><i class="fas fa-utensils"></i></a></div>
          <h4 class="title"><a href="">Consommer</a></h4>
          <p class="description"> Confitures, gelées, pâtes de fruits, compotes, soupes, purées, potages, sauces, tisanes, herbes séchées
           </p>
        </div>
      </div>
    </div>

  </div>
</section>

<div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
    <li data-target="#carousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="2000">
      <img src="https://images.pexels.com/photos/48817/jam-preparations-jars-fruit-48817.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-interval="2000">
      <img src="https://images.pexels.com/photos/673673/pexels-photo-673673.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-interval="2000">
      <img src="https://images.pexels.com/photos/1300972/pexels-photo-1300972.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


  <section class="feature p-relative">
    <div class="overlay op-4"></div>
      <div class="container">
        <div class="row py-4 p-relative">
            <div class="col-12 col-sm-6 p-3">
                <div class="flex">
                    <div class="col-2 text-center"><i class="fa fa-code title-icon"></i>
                    </div>
                    <div class="col-10">
                        <h4 class="font-title font-b-line title">Clean Code</h4>
                        <p class="py-3">UnderExpress uses modular css classes, which helps you ship quickly with cleaner code.</p>
                    </div>
                </div>

            </div>
            <div class="col-12 col-sm-6 p-3">
                <div class="flex">
                    <div class="col-2 text-center"><i class="fa fa-cubes title-icon"></i>
                    </div>
                    <div class="col-10">
                        <h4 class="font-title font-b-line title">100+ Components</h4>
                        <p class="py-3">UnderExpress is your own A'La Carte, choose from various components, mix them to create unique pages.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 p-3">
                <div class="flex">
                    <div class="col-2 text-center"><i class="fa fa-money title-icon"></i>
                    </div>
                    <div class="col-10">
                        <h4 class="font-title font-b-line title">Absolutely free</h4>
                        <p class="py-3">UnderExpress comes absolutely free, which makes it most the affodable website framework.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 p-3">
                <div class="flex">
                    <div class="col-2 text-center"><i class="fa fa-desktop title-icon"></i>
                    </div>
                    <div class="col-10">
                        <h4 class="font-title font-b-line title">Responsive</h4>
                        <p class="py-3">All components are perfectly responsive. Your content will shine on every device.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>