<%= render 'layouts/navbar' %>

<br><br><br><br>
<header class="header-style-14">
    <div class="overlay op-6 "></div>
    <div class="container">
      <div class="row m-0 p-relative o-hidden">
        <div class="col-12 col-md-6 mx-auto">
          <div class="content-slant p-5 cwhite text-center">
            <h1 class="font-title font-jumbo my-3"><b>Notre histoire</b></h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="py-5">
  <div class="container">
    <h1 class="font-weight-light">Qui suis-je?</h1>
    <hr>
    <p class="lead">
    Je suis nathalie, et je me considère comme une « enfant du terroir » puisque je vis depuis toujours dans le sud des hautes de seine.
    Depuis 7 ans j’ai la chance d’habiter dans une maison avec un petit jardin. C’est en regardant murir mes mirabelles que l’idee de <i>citoyens producteurs</i> m’est venue.
    <br>
    <h5>C’est-à-dire me direz-vous ? </h5> Parmi vous, qui dispose d’un jardin ou d’une petite surface cultivée ?
    Ces jardins sont-ils productifs ? 
    <br> <i>Pommes, poires, prunes, figues, kiwis, raisins, coings (beaucoup de coings cette anneé ), mirabelles, lavande, tilleul, tomates, potirons, laurier, romarin, noisettes, noix, cerises, olives, abricots…</i>
    <br> Oui, tout ca et plus encore pousse dans nos jardins !
    <br><br>
    <h5>Ces jardins sont-ils généreux ? trop genereux ?</h5>
    Du coup, ne trouvez-vous pas dommage de voir une partie de ces recoltes perdues car surabondantes ?
    <br><br> <center><h3>C’est pour toutes ces raisons que l’idee de valorise cette ressource a germe !</h3></center><br>
    Nous sommes tous potentiellement des citoyens producteurs. Pourquoi ? car nous avons à notre porteé la possibilité de reprendre le pouvoir sur une partie de notre alimentation et de notre manière de consommer et de produire !
    <br> Mais comment faire quand on habite en ville me direz-vous… il n’y a pas de place, pas de terres agricoles, pas de maraichers ?
    Et bien si !
    <br><br>
    Je suis micro-maraichere, vous etes micro-maraiches, exploitants de micro-vergers. Rassemblés, nous pouvons produire, transformer et consommer une partie significative de notre alimentation grace au fruits de nos recoltes.
    </p>
    
    <blockquote class="otro-blockquote">
    Nous pouvons le faire en devenant citoyens producteurs, la cooperative agricole urbaine et citoyenne.
    </blockquote>
    <br>

  </div>
</section>
