<%= render 'layouts/navbar' %>
<%= render 'layouts/sidebar' %>

<br><br><br><br>
<header class="header-style-14">
    <div class="overlay op-6 "></div>
    <div class="container">
      <div class="row m-0 p-relative o-hidden">
        <div class="col-12 col-md-6 mx-auto">
          <div class="content-slant p-5 cwhite text-center">
            <h1 class="font-title font-jumbo my-3"><b>Nos valeurs</b></h1>
          </div>
        </div>
      </div>
    </div>
  </header>

<section class="py-5">
<div class="container">
  <h1 class="font-weight-light">Le principe</h1>
  <hr>
  <p class="lead">  Il s’agit d’aller chercher les surplus de production chez les particuliers afin de créer une activité économique 100% locale. En écoulant des produits sains, qui ont poussé sans produits chimiques, et qui n’ont pas voyagé.<br />
  Un des enjeux est de lutter contre le gaspillage alimentaire. On parle ici du gaspillage qui intervient à la source, c’est-à-dire les produits qui n’arrivent même pas jusqu’aux étals.<br />
  Un autre enjeu est de profiter d’une ressource alimentaire déjà disponible en récupérant les fruits (ou les légumes) qui auraient poussé de toute façon. <br />
  Le développement de l’activité peut même inciter les gens à produire plus d’alimentation locale par l’effet d’un entrainement positif. 
  </p>
  
  <blockquote class="otro-blockquote">
  La première coopérative agricole urbaine ! Pour que les citoyens reprennent le pouvoir sur leur alimentation en la produisant eux-mêmes !
  </blockquote>
  <br>

  <h1 class="font-weight-light">Les rôles</h1>
  <hr>
  
  <section class="bg-light">
		<div class="container">
			<div class="row">


				<div class="col-12 col-lg-6 p-5 background-cover"  style="background-image:url('./assets/img/backgrounds/people4.jpeg')">
					<div class="p-relative p-5 m-5"></div>

				</div>
				<div class="col-12 col-lg-6 p-5">
				 

					<h6 class="py-4"><i>UnderExpress has helped me save 1000+ hours of development time, I worked passionately on my app, didn't really wanted to waste time on landing page.</i></h6>

				 
					<h6>-Meow Chan</h6>
					<small>Queen Ninja - <a class="cprimary" href="#">Great Company</a></small>



				</div>
			</div>
		</div>
	</section>


</div>
</section>