<h1>Page Show des produits</h1>
<h2><%= @product.name%><h2>
<h3>Quantité du produit => <%=@productevents.find_by(product_id: @product.id).quantity%> <%=@productevents.find_by(product_id: @product.id).unit.name%></h3>