<section class="form-style-1 bg-hue-yellow py-5 background-cover">
<div class="container">
  <div class="row">
    <div class="col-sm-7 col-10 mx-auto">
      <div class="card p-4 my-4 material-shadow">
        <%= form_with(model: @feedback, url: [@feedback.feedbackable, @feedback], local: true) do |form| %>
        <h6> Mon commentaire : </h6>
        <p><%= form.text_area :content, class:"form-control" %></p>
        <h6> Noter mon expérience de 0 à 5 : </h6>
        <p><%= form.number_field :rating, in: 0..5, step: 1, class: 'form-control' %></p>

        <%= form.submit "Envoyer", class:"btn btn-success btn-rounded" %>
    <% end %>
      </div>
    </div>
  </div>
</div>
</section>
