<h2>Salut Citoyen, l'évènement est fini ! </h2>

<p>Nous espérons que tout s'est bien passé.</p>

<p> Nous allons te demander de laisser un avis sur l'évènement sur ton espace personnel ou <%=link_to "en cliquant sur ce lien", new_event_feedback_url(@id) %> !</p>

<p><b>Merci de faire vivre la communauté et à très bientôt chez <%=@url%>.</b></p>  