  .devise {
    margin-top: 80px;
  }

  .login,
  .image {
    min-height: 100vh;
  }
  
  .bg-image {
    background-image: url('https://images.pexels.com/photos/1395958/pexels-photo-1395958.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    background-position: center;
  }

  .bg-image2 {
    background-image: url('https://images.pexels.com/photos/1453713/pexels-photo-1453713.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    background-position: center;
  }
  
  .login-heading {
    font-weight: bold;
  }

  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    border-radius: 2rem;
  }
  
  .container-fluid {
    background-color: rgb(255, 255, 255);
    opacity: 0.8;
  }


