.events-aside {
 width: 100%;
}

.event-show-aside {
  margin-top: 40px
}

body {
  background: url('/assets/top_fruits.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
