.hero {
    background-image: url(/assets/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 1060px;
    margin-top: -80px;
}

.call-to-action {
    margin-top: 220px;
    margin-left: 260px;
}

.hero-logo {
    width: 420px;
    height: 250px;
}

.about {
    padding-top: 60px;
    padding-bottom: 60px;
}

#about .title-about {
    color: #333;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 40px;
}

@media (max-width: 768px) {
    #about .about-container .title {
        padding-top: 15px;
    }
}

#about .description {
    margin-left: 80px;
    line-height: 24px;
    font-size: 14px;
}

#about .title {
    margin-left: 80px;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 18px;
    text-transform: uppercase;
}

.about-img {
    background-position: right;
    background-size: contain;
    width: 650px;
    margin-top: 100px;
    margin-left: 0px;
}

.icon {
    float: left;
    background: #fff;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #2dc997;
}

.icon i {
    color: #2dc997;
    font-size: 24px;
  }