.landing_page {
    display: flex;
}

.hero {
    background-image: url(/assets/home_basilic.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 380px;
}