.jumbotron {
    background-image: url(/assets/hero.jpg);
    background-size: cover;
    height: 860px;
    margin: 0;
}

.container-hero {
    width: 100%;
    padding-top: 5px;
    padding-left: 25px;
    margin: 0%;
}

.hero-btn {
    margin-top: 42px;
    width: 240px;
}

.title-slogan {
    font-family: 'Permanent Marker', cursive;
    font-size: 4.2em;
    color: #181f49;
    text-transform: uppercase;
    text-align: center;
    margin-top: 8%;
    margin-left: 0%;
}


.about {
    padding-top: 42px;
    padding-bottom: 42px;
}

#about {
    display: flex;
}

#about .description {
    margin-left: 80px;
    line-height: 24px;
    font-size: 1.1em;
}

#about .title {
    margin-left: 80px;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: 700;
    color: #181f49;
}

.about-img {
    border-radius: 100%;
    width: 320px;
    height: 300px;
    margin-left: 160px;
}

.icon {
    float: left;
    background: #fff;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #9F9B30;
}

.icon i {
    color: #9F9B30;
    font-size: 24px;
}

#about .icon {
    transition: 0.2s;
    border: 6px solid #fff;
    background: #9F9B30;
    margin-right: 42px;
}
  
#about .icon a {
    display: inline-block;
}
  
#about .icon i {
    color: #fff;
    font-size: 24px;
}
  
#about .box:hover .icon {
    background: #fff;
    border: 2px solid #9F9B30;
}
  
#about .box:hover .icon i {
    color: #9F9B30;
}
  
#about .box:hover .icon a {
    color: #9F9B30;
}

.counter {
    color: #181f49;
    background-color: whitesmoke;
}

#services {
    background: #fff;
    background-size: cover;
    padding: 80px 0 60px 0;
}
  
#services .box {
    padding: 50px 20px;
    margin-bottom: 50px;
    text-align: center;
    border: 1px solid #e6e6e6;
    height: 200px;
    position: relative;
    background: #fafafa;
}
  
#services .icon {
    position: absolute;
    top: -36px;
    left: calc(50% - 36px);
    transition: 0.2s;
    border-radius: 50%;
    border: 6px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 72px;
    height: 72px;
    background: #9F9B30;
}
  
#services .icon a {
    display: inline-block;
}
  
#services .icon i {
    color: #fff;
    font-size: 24px;
}
  
#services .box:hover .icon {
    background: #fff;
    border: 2px solid #9F9B30;
}
  
#services .box:hover .icon i {
    color: #9F9B30;
}
  
#services .box:hover .icon a {
    color: #9F9B30;
}
  
#services .title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: uppercase;
}
  
#services .title a {
    color: #9F9B30;
}
  
#services .description {
    font-size: 14px;
    line-height: 24px;
}

.title-goal {
    font-size: 2.6em;
    width: 380px;
    color: #181f49;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 5px;
    background: linear-gradient(to bottom, #fff, #fff 50%, #fff 60%, #9F9B30 60%);
}

.title-about {
    font-size: 2.6em;
    color: #181f49;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 5px;
    background: linear-gradient(to bottom, #fff, #fff 50%, #fff 60%, #9F9B30 60%);
}

.title-contact {
    font-size: 2.6em;
    color: #181f49;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    background: linear-gradient(to bottom, #fff, #fff 50%, #fff 60%, #9F9B30 60%);
}

.section-description {
    text-align: center;
    padding-bottom: 40px;
    color: rgb(48, 48, 48);
}

.carousel-item {
    height: 420px;
}

.feature {
    background-color: whitesmoke;
}
.feature .title {
    color: #181f49;
}

.feature a {
    display: inline-block;
}
  
.feature i {
    color: #9F9B30;
    font-size: 24px;
}

.avatar {
    width: 60px;
    height: 60px;
}

.home-maps {
    width: 100%;
    height: 300px;
    border: 0;
}