.navbar {
    background-color: rgba(255,255,255,0.4);
    font-size: 1.2em;
    font-weight: bold;
    color: #181F49;
    z-index: 2;
    padding-top: 4px!important;
    padding-bottom: 4px!important;
}

#navbar {
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  transition: all 0.5s; /* Transition effect when sliding down (and up) */
}

.navbar-logo {
    float: right;
    max-width: 50px;
    max-height: 50px;
    margin-left: 25px;
    margin-right: 50px;
}

.navbar .nav-item {
    margin-left: 10px;
    margin-right: 10px;
}

.navbar .nav-link {
    border-bottom: 4px solid transparent;
}

.navbar .navbar-avatar:hover,
.navbar .navbar-logo:hover {
    transform: scale(1.05);
}

.navbar .nav-link:hover {
    border-bottom: 4px solid #9F9B30;
    transform: scale(1.1);
}
