.navbar {
    background-color: rgba(255,255,255,0.4);
    font-size: 1.2em;
    font-weight: bold;
    color: #181F49;
    z-index: 2;
}

.navbar-logo {
    float: right;
    max-width: 120px;
    max-height: 120px;
}

.navbar .nav-item {
    padding-left: 10px;
    padding-right: 10px;
}

.all-nav-link {
    margin-left: 120px;
}

.avatar {
    float: right;
    opacity: 1;
    width: 60px;
    height: 60px;
}

.navbar .nav-link:hover,
.navbar .avatar-logo:hover,
.navbar .navbar-logo:hover {
    transform: scale(1.05);
}