.navbar {
    background-image: url(/assets/navbar.jpg);
    background-size: cover;
    height: 80px;
    font-size: 1.2em;
}

.navbar-logo {
    max-width: 120px;
    max-height: 120px;
}

.avatar {
    float: right;
    width: 60px;
    height: 60px;
}