.show-store {
  background: url('/assets/top_fruits.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.show-store .jumbo {
  background: whitesmoke;
}


.show-store .call-to-action {
  background: whitesmoke;
}

.store-maps {
  width: 100%;
  height: 200px;
  border: 0;
}