<% if flash[:danger] %>
    <div class="danger"><%= flash[:danger] %></div>
  <% end %>
<center>

<h1>Utilisateurs: </h1>

<div class="card-columns">
<%@users.each do |liste|%>
<div class="card border-danger mb-3">
<h5 class="card-header"><%=liste.first_name%></h5>
<div class="card-body">

<%= link_to "profil utilisateur", admin_user_path(liste.id) %>
</div>
</div>
</br>
</br>
<% end %>
</div>

</div>
</center>