<section class="form-style-5 p-relative bg-white">
  <div class="container">
  <div class="row">
    <div class="col-12 col-md-8 p-0">
      <iframe
      width="100%"
      height="100%"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10516.376138168858!2d2.31667645!3d48.780095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e6712a13518e05%3A0x40b82c3688b3e80!2s92340%20Bourg-la-Reine!5e0!3m2!1sfr!2sfr!4v1575456577997!5m2!1sfr!2sfr" 
      allowfullscreen>
    </iframe>
  </div>
  <div class="col-12 col-md-4 px-4 py-5 bg-white">

    <h2 class="font-title bolder text-center mb-5 uppercase" >Nous sommes là pour vous<div class="mline bg-dark"></div></h2>
    <h6 class="uppercase my-3 font-title">Adresse</h6>
    <p class="mb-5 ">Bourg-la-Reine</p>
    <h6 class="uppercase my-3 font-title">Contact</h6>
    <p class="mb-5"><i class="fa fa-phone mr-2"></i>06 83 87 04 95<br><i class="fa fa-envelope mr-2"></i> citoyens-producteurs@lilo.org</p>
    <h6 class="uppercase my-3 font-title">Suivez-nous</h6>
    <a href ="https://www.facebook.com/CitoyensProducteurs/">
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABTElEQVRIS7WVgU3DMBBFXydgBMoEwATtCDABdAJgAugEtBMAEwAbMALdADaACUA/sq3DtX0OUk6yIiX2vfP5+2fGxDGbOD89gEtgAZyEoZrew3gBXltFtgBnwD0wd3b5AdwAgu1FDbABrka2T2sE+hMlwH+Sx6Rb4NoScoDa8tyo/DMksO24A27NmnPbrhygfh5WAN/hkDXHRg7Q96M4wQKklodG9U+A5sRYBnXpqWEj7cICHoGLBmANqFqF18pUjAVI28edgLwt+TLlOtVLC/hxZGl34AFS7h6Ad9vfwlnk9Q3r7OKagjzAF3CQZd9FW+k5ZA9Qam3xkD2ZjjmDFSBV7rlp66L1AnTbk0GOsYpeQNMqtKua2fUAXLOLYijdag+QW8mQy/vhaDfR/GqAksMm1XoS1ESpS2amCzUoo/KuaAQ9AMdB2p8nB/wCsmVJGU6bMtcAAAAASUVORK5CYII="/>
    </a>

  </div>
</div>
</div>
</section>