  <footer class="footer p-3 cwhite">
    <div class="overlay op-7 bg-dark"></div>
    <div class="row">
      <div class="col-12 col-lg-3 my-1 text-center py-2">
        <%=image_tag(("logo.png"), :class => "logo")%>
        <small class="lighter my-3 op-7 inline">&copy 2019 All Rights Reserved</small>
        <ul class="py-2 px-0">
          <li class="inline"><a href="#" class=" circle btn-outline-light btn m-1 inline"><i class="fab fa-google"></i></a></li>
          <li class="inline"><a href="#" class=" circle btn-outline-light btn m-1 inline"><i class="fab fa-twitter"></i></a></li>
          <li class="inline"><a href="#" class=" circle btn-outline-light btn m-1 inline"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
      <div class="col-12 col-lg-6 my-1 text-left py-2 font-title">
        <div class="row">
          <div class="col-4">
            <h6 class="uppercase py-1">Categories</h6>
            <ul class="py-1 px-0">
              <li><a href="#">Humans</a></li>
              <li><a href="#">Cats</a></li>
              <li><a href="#">Canines</a></li>
              <li><a href="#">Wolves</a></li>
            </ul>
          </div>
          <div class="col-4">
            <h6 class="uppercase py-1">Features</h6>
            <ul class="py-1 px-0">
              <li><a href="#">Responsive</a></li>
              <li><a href="#">Modular</a></li>
              <li><a href="#">Affordable</a></li>

            </ul>
          </div>
          <div class="col-4">
            <h6 class="uppercase py-1">Technologies</h6>
            <ul class="py-1 px-0">
              <li><a href="#">Jquery</a></li>
              <li><a href="#">HTML5</a></li>
              <li><a href="#">SAAS</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3 my-1 text-left py-2">
        <h6 class="uppercase py-1">À propos</h6>
        <small class="lighter my-3 op-7 inline font-body">A simple to use, modular and responsive set of components and ready made pages to launch your next project.</small>
        <%= link_to "Nous conctacter", root_path, class:"btn btn-rounded btn-secondary"%><br><br>
        <%= link_to "À propos", root_path, class:"btn btn-rounded btn-secondary"%>
      </div>
<div class="col-12 ">
      <div class="mline bg-dark"></div>
    </div>
      <div class="col-12 text-center">
        <small class="lighter op-7">&copy 2019 Citoyens Producteurs</small>
      </div>
    </div>
  </footer>