  <footer class="footer p-3 cwhite">
    <div class="overlay op-7 bg-dark"></div>
    <div class="row">
      <div class="col-12 col-lg-3 my-1 text-center py-2">
        <%=image_tag(("logo.png"), :class => "logo")%><br>
        <br>
        <ul class="py-2 px-0">
          <li class="inline"><a href="https://www.facebook.com/CitoyensProducteurs/" %><i class="fab fa-facebook"></i></a></li>
        </ul>
      </div>
      <div class="col-12 col-lg-6 my-1 text-center py-2 font-title">
        <div class="row">
          <div class="col-4">
            <h6 class="uppercase py-1">Producteurs</h6>
            <ul class="py-1 px-0">
              <li>Local</li>
              <li>Frais</li>
              <li>Zéro gâchis</li>
            </ul>
          </div>
          <div class="col-4">
            <h6 class="uppercase py-1">Bénévoles</h6>
            <ul class="py-1 px-0">
              <li>Cueillir</li>
              <li>>Livrer</li>
              <li>Transformer</li>

            </ul>
          </div>
          <div class="col-4">
            <h6 class="uppercase py-1">Blog</h6>
            <ul class="py-1 px-0">
              <li>Recettes</li>
              <li>Avis</li>
              <li>Style de vie</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3 text-center my-1 text-left py-2">
        <h6 class="uppercase py-1">À propos</h6>
        <small class="lighter my-3 op-7 inline font-body">La première coopérative agricole urbaine !</small><br>
        <%= link_to "Nous conctacter", root_path, class:"btn btn-rounded btn-secondary"%><br><br>
        <%= link_to "À propos", root_path, class:"btn btn-rounded btn-secondary"%>
      </div>
<div class="col-12">
      <div class="mline bg-dark"></div>
    </div>
      <div class="col-12 py-2 text-center">
        <small class="lighter op-7">&copy 2019 Citoyens Producteurs</small>
      </div>
    </div>
  </footer>