<nav class="navbar navbar-expand-md navbar-light bg-light navbar-style-6 font-title py-3">
  <div class="container">
    <%= image_tag(("logo.png"), class:"logo")%>

    <div class="collapse navbar-collapse" id="navbarSupportedContent6">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active mx-2">
          <a class="nav-link" href="#">A propos <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active mx-2">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item active mx-2">
          <a class="nav-link" href="#">Contactez-nous</a>
        </li>
        <li class="nav-item mx-5">
        <%= image_tag(("user.png"), class:"user")%>
        </li>
      </ul>
    </div>
  </div>
</nav>